h2 {
  color: #969696;
  font-size: 1.5em;
  text-align: center;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}
div.formContainer {
  background: radial-gradient(
    farthest-corner at 40px 40px,
    #1b2838 10%,
    #2a475e 90%
  );
  text-align: center;
  border-radius: 20px;
  border-style: solid;
  border-color: #2a475e;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 2%;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
}

.inputContainer label {
  flex: 1;
  text-align: left;
  align-items: left;
  color: #c5ced8;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.03em;
}

.inputContainer input {
  flex: 1;
  margin-bottom: 2%;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: 0.03em;
  background-color: #969696;
}

.inputContainer select {
  flex: 1;
  margin-bottom: 2%;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: 0.03em;
  background-color: #969696;
}

.inputContainer textarea {
  flex: 1;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 2%;
  margin: 0;
  letter-spacing: 0.03em;
  background-color: #969696;
}

form {
  width: 80%;
  margin: 0 auto;
}

.btn-save {
  border: none;
  padding: 2px;
  display: inline-block;
  cursor: pointer;
  color: #d2e885 !important;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  background: #a4d007;
  background: -webkit-linear-gradient(top, #a4d007 5%, #536904 95%);
  background: linear-gradient(to bottom, #a4d007 5%, #536904 95%);
  border-radius: 6px;
  font-size: 1.5em;
  letter-spacing: 0.03em;
  padding: 2px 8px;
  text-decoration: none;
  margin-top: 10px;
}

.btn-save:hover {
  background: #a4d007;
  background: -webkit-linear-gradient(top, #536904 5%, #a4d007 95%);
  background: linear-gradient(to bottom, #536904 5%, #a4d007 95%);
}

.btn-save:active {
  position: relative;
  top: 1px;
}
