h1 {
    font-size: 4em;
    text-align: center;
    font-family: 'Exo';
    margin: 0;
    transform: skew(-15deg);
    letter-spacing: 0.03em;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fafe05, 0 0 0.3em #fe0505;
    color: rgb(255, 255, 255);

}