div {
  background-color: rgb(79, 149, 255);
  box-shadow: 3px 7px 20px #ff75ca;
}

div {
  text-align: center;
  border-style: double;
  border-width: 12px;
  border-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 2%;
}

select {
  width: 35%;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 2%;
  font-family: 'Exo';
  font-size: 1em;
  letter-spacing: 0.03em;
}

input {
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 2%;
  font-family: 'Exo';
  font-size: 1em;
  letter-spacing: 0.03em;
}

label {
  align-items: left;
  color: white;
  font-family: 'Exo';
  font-size: 1.5em;
  transform: skew(-15deg);
  letter-spacing: 0.03em;
}

textarea {
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 2%;
  margin: 0;
  letter-spacing: 0.03em;
}

form {
  width: 80%;
  margin: 0 auto;
}

label,
input,
textarea,
select {
  display: inline-block;
}

label {
  width: 30%;
  text-align: right;
}

label+input+textarea+select {
  width: 30%;
  margin: 0 30% 0 4%;
}

input+input+textarea+select {
  float: right;
}

.save {
  box-shadow: 0px 0px 0px 2px #00000041;
  background: linear-gradient(to bottom, #ffffff 5%, rgb(79, 149, 255) 100%);
  border-radius: 2px;
  border: 0.5px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: 'Exo';
  font-size: 1.5em;
  letter-spacing: 0.03em;
  padding: 2px 8px;
  text-decoration: none;
  text-shadow: 0px 1px 2px #283966;
}

.save:hover {
  background: linear-gradient(to bottom, #10b3ff 5%, #ffffff 100%);
  background-color: #476e9e;
}

.save:active {
  position: relative;
  top: 1px;
}

.check {
  width: 210px;
  border: 70px solid #ffffff;
  box-shadow: 1px 1px 15px #00ffdd;
}