.d {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 2%;
  width: 40%;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  color: #c5ced8;
  font-size: 16px;
  text-align: center;
  border-radius: 20px;
  padding-bottom: 1%;
  padding-top: 1%;
  box-shadow: 3px 7px 20px rgb(51, 51, 51);
}
.id {
  text-align: center;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  margin: 0px;
  letter-spacing: 0.03em;
  color: #c5ced8;
  border: 2px solid #a4d007;
  border-radius: 8px;
  padding-left: 2%;
  padding-right: 2%;
  display: inline;
}
.desc {
  text-align: center;
  margin: 0;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  color: #b0b4b9;
  font-size: 1em;
  margin-left: 15px;
  margin-right: 15px;
  letter-spacing: 0.03em;
}

.btn-delete {
  border: none;
  padding: 2px;
  display: inline-block;
  cursor: pointer;
  color: #d2e885 !important;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  background: #a4d007;
  background: -webkit-linear-gradient(top, #a4d007 5%, #536904 95%);
  background: linear-gradient(to bottom, #a4d007 5%, #536904 95%);
  border-radius: 6px;
  font-size: 1.5em;
  letter-spacing: 0.03em;
  padding: 2px 8px;
  text-decoration: none;
}
.btn-delete:hover {
  background: #a4d007;
  background: -webkit-linear-gradient(top, #536904 5%, #a4d007 95%);
  background: linear-gradient(to bottom, #536904 5%, #a4d007 95%);
}
.btn-delete:active {
  position: relative;
  top: 1px;
}

.green {
  border-style: dashed;
  border-color: rgba(15, 250, 15, 45%);
  background: radial-gradient(
    farthest-corner at 40px 40px,
    #1b2838 10%,
    #2a475e 90%
  );
  transition: background-color 0.3s;
}
.green:hover {
  background: rgba(15, 250, 15, 20%);
}
.red {
  border-style: dashed;
  border-color: rgba(250, 0, 0, 45%);
  background: radial-gradient(
    farthest-corner at 40px 40px,
    #1b2838 10%,
    #2a475e 90%
  );
  transition: background-color 0.3s;
}
.red:hover {
  background: rgba(250, 0, 0, 20%);
}

.flex-container {
  display: flex;
  justify-content: center;
}
.flex-container > .title {
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  line-height: 40px;
  color: #c5ced8;
}
.flex-container > .unit,
.amount {
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  line-height: 40px;
  color: #a4d007;
}

.toggle-finished {
  color: #c5ced8;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  background: #a4d007;
  background: -webkit-linear-gradient(top, #a4d007 5%, #536904 95%);
  background: linear-gradient(to bottom, #a4d007 5%, #536904 95%);
  border-radius: 6px;
  font-size: 1.5em;
  letter-spacing: 0.03em;
  padding: 2px 8px;
  margin-left: 34%;
  margin-right: 34%;
}
.toggle-finished:hover {
  background: #a4d007;
  background: -webkit-linear-gradient(top, #536904 5%, #a4d007 95%);
  background: linear-gradient(to bottom, #536904 5%, #a4d007 95%);
}

.btncolfin {
  color: rgba(65, 180, 65, 0.8);
  transition: background-color 0.3s;
}
.btncolfin:hover {
  color: rgba(26, 220, 26, 0.7);
}
.btncolunfin {
  color: rgba(180, 65, 65, 0.65);
  transition: background-color 0.3s;
}
.btncolunfin:hover {
  color: rgba(220, 28, 28, 0.8);
}
