<div
  class="d"
  [ngClass]="{ green: this.shopItem.done, red: !this.shopItem.done }"
>
  <h3 class="id">{{ shopItem.id }}</h3>
  <div class="flex-container">
    <h3 class="title">{{ shopItem.title }}</h3>
    <h4 class="amount">{{ shopItem.amount }}</h4>
    <h4 class="unit">{{ shopItem.unit }}</h4>
  </div>
  <h4 class="desc">{{ shopItem.description }}</h4>
  <p
    class="toggle-finished"
    [ngClass]="{
      btncolfin: this.shopItem.done,
      btncolunfin: !this.shopItem.done
    }"
    (click)="toggleCompleted()"
  >
    {{ shopItem.done ? "✔" : "⨉" }}
  </p>
  <button class="btn-delete" (click)="btnDelete()">Delete 🗑</button>
</div>
