h3 {
  text-align: center;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0px;
  letter-spacing: 0.03em;
}

h4 {
  text-align: center;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0;
  letter-spacing: 0.03em;
}

div {
  text-align: center;
  padding-bottom: 1%;
  padding-top: 1%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 2%;
}

p {
  align-items: left;
  color: #c5ced8;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.03em;
}

.d {
  width: 40%;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  color: #c5ced8;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  padding-bottom: 1%;
  padding-top: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  box-shadow: 3px 7px 20px rgb(51, 51, 51);
}

.id {
  text-align: center;
  border: 2px solid rgb(230, 215, 81);
  border-radius: 12px;
  padding-left: 2%;
  padding-right: 2%;
  display: inline;
}

.desc {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
  letter-spacing: 0.03em;
}

.btn-delete {
  border: none;
  padding: 2px;
  display: inline-block;
  cursor: pointer;
  color: #d2e885 !important;
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  background: #a4d007;
  background: -webkit-linear-gradient(top, #a4d007 5%, #536904 95%);
  background: linear-gradient(to bottom, #a4d007 5%, #536904 95%);
  border-radius: 6px;
  font-size: 1.5em;
  letter-spacing: 0.03em;
  padding: 2px 8px;
  text-decoration: none;
}

.btn-delete:hover {
  background: #a4d007;
  background: -webkit-linear-gradient(top, #536904 5%, #a4d007 95%);
  background: linear-gradient(to bottom, #536904 5%, #a4d007 95%);
}

.btn-delete:active {
  position: relative;
  top: 1px;
}

.green {
  background-color: rgb(55, 145, 30);
  transition: background-color 0.3s;
}

.green:hover {
  background-color: rgb(15, 131, 15);
}

.red {
  background-color: rgb(173, 32, 32);
  transition: background-color 0.3s;
}

.red:hover {
  background-color: rgb(145, 17, 17);
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > .title {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 40px;
}

.flex-container > .unit,
.amount {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 0px;
  text-align: center;
  line-height: 40px;
  color: #d2e885;
}
